<h3>User Details</h3>	
<hr />

<!-- Voltar -->
<a class="btn btn-default" href="#!/users">
	<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
 Voltar
</a>

<div  class="panel-body">

	<span><b>Código:</b> <p ng-bind="userSelected.id"></p></span>

	<span><b>Nome:</b> <p ng-bind="userSelected.name"></p></span>

	<span><b>Data de Nascimento:</b> <p ng-bind="userSelected.dateOfBirth | date: 'dd/MM/yyyy'"></p></span>

	<span><b>Sexo:</b> <p ng-bind="userSelected.gender"></p></span>
	
	<span><b>Peso (Kg):</b> <p ng-bind="userSelected.weight | number:2"></p></span>
	
</div>
<div align="left">
	<button class="btn btn-danger"
		ng-click="deleteUserSelected(userSelected)" alt="Excluir">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		Remover
	</button>
</div>

<div ng-show="messageError != null" class="alert alert-danger alert-dismissable" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
		<span aria-hidden="true">&times;</span></button>
		{{messageError}} <strong>:(</strong>
</div>