<h3>User Details</h3>	
<hr />

<!-- Voltar -->
<a class="btn btn-default" href="#!/users">
	<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
 Voltar
</a>

<div  class="panel-body">

	<span><b>Código:</b> <p ng-bind="userSelected.id"></p></span>

	<span><b>Nome:</b> <p ng-bind="userSelected.name"></p></span>

	<span><b>Data de Nascimento:</b> <p ng-bind="userSelected.dateOfBirth | date: 'dd/MM/yyyy'"></p></span>

	<span><b>Sexo:</b> <p ng-bind="userSelected.gender"></p></span>
	
	<span><b>Peso (Kg):</b> <p ng-bind="userSelected.weight | number:2"></p></span>
	
</div>