<md-card flex-gt-sm="50" flex="100">
<md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2 class="md-flex"><h2>User Details</h2>

    </div>
</md-toolbar>

<!-- Voltar -->
<section layout="row" layout-sm="column" layout-wrap>
<md-button class="md-raised" ng-href="#!/users">
	<md-icon aria-label="Back" class="material-icons">arrow_back</md-icon>
	Voltar
</md-button>
</section>

<md-card-title>
  <md-card-title-text>
    <span class="md-headline">Detalhes Usuário</span>    
  </md-card-title-text>
</md-card-title>

<md-card-content>

  	<div layout-gt-xs="row">  	
    	<label for="userid">Código: </label><b ng-bind="userSelected.id" name="userid"></b>
    </div>

    <div layout-gt-xs="row">   	
   		<label>Nome:</label>
		<span ng-bind="userSelected.name"></span>
    </div>

    <div layout-gt-xs="row">   	
   		<label>Data Nascimento: </label>
		<span ng-bind="userSelected.dateOfBirth"></span>
    </div>

    <div layout-gt-xs="row">   	
   		<label>Sexo: </label>
		<span ng-bind="userSelected.gender"></span>
    </div>

 </md-card-content>

</md-card>

	
