<div class="row">
	<div class="col-xs-8 col-md-8" align="left">
		<h3 ng-bind="app"></h3>
	</div>
	
	<div class="col-xs-4 col-md-4" align="right">
	<button class="btn btn-default" ng-click="sair()">
			<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
		 Sair
	</button>
	</div>

</div>

<hr />
<!-- Messagens -->
<div ng-show="messageSuccess != null" class="alert alert-success alert-dismissable" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
		<span aria-hidden="true">&times;</span></button>
		{{messageSuccess}} <strong>Sucesso!</strong>
</div>

<div ng-show="messageError != null" class="alert alert-danger alert-dismissable" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
		<span aria-hidden="true">&times;</span></button>
		{{messageError}} <strong>:(</strong>
</div>

<!-- Botoes Menu -->		
<div class="spaceFields">
	
	<a class="btn btn-primary" href="#!/newUser">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
	 Novo 
	</a>		
	
	<button class="btn btn-danger" ng-click="deleteUser(users)"
		ng-disabled="!hasUserSelected">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	 Remover
	</button>
	
</div>

<!-- Campo Pesquisa -->
<input class="form-control spaceFields" type="text" ng-model="campoBusca" placeholder="Pesquisar Nome">

<!-- Tabela -->
<div class="table-responsive">

	<table id="userTable" ng-show="users.length > 0" class="table table-condensed">
		
		<thead class="tableHeader">
			<tr>
				
				<th></th>
				<th>Código</th>
				<th>Nome</th>
				<th>Data Nascimento</th>
				<th>Sexo</th>
				
			</tr>
		</thead>
		<!-- track by melhora o desempenho: evita recarregamento dos elementos -->
		<tr ng-repeat="user in users | filter: {name: campoBusca} track by user.id" 
			ng-class="{'setUserSelected': user.selected}" ng-click="checkUserSelected(user)">
			
			<td>				
				<a class="btn btn-success" href="#!/detailUser/{{user.id}}">			
					<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>	 
				</a>
				
				<a class="btn btn-info" href="#!/editUser/{{user.id}}">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			 	</a>
			</td>
			<!-- os :: melhora o desempenho (diminui os watchers) -->
			<td><output type="text" ng-bind="::user.id"></output></td>
			<td><output type="text" ng-bind="::user.name | nameSize:20"></output></td>
			<td><output type="text" ng-bind="::user.dateOfBirth | date: 'dd/MM/yyyy'"></output></td>
			<td><output type="text" ng-bind="::user.gender"></output></td>

		</tr>
	</table>
</div>