
<md-card flex-gt-sm="50" flex="100">
<md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2 class="md-flex" ng-bind="app"></h2>
     </div>
</md-toolbar>
<md-card-title>
	<md-button class="md-raised md-primary" ng-href="#!/newUser">		
		<md-icon aria-label="Add" class="material-icons">add</md-icon>
		Novo 
	</md-button>
	
</md-card-title>

<md-card-content>	

	<md-input-container class="md-icon-float md-block" class="spaceFields">
		<md-icon aria-label="Find" class="material-icons">search</md-icon>
		<input type="text" ng-model="campoBusca" placeholder="Pesquisar Nome">
	</md-input-container>
	
	<md-table-container>
	  <table md-table md-progress="promise">
	      <thead md-head md-order="query.order">
	      <tr md-row>
	       <th md-column>ID</th>
	        <th md-column>Nome</th>
	        <th md-column>Data de Nascimento</th>
	        <th md-column>Sexo</th>
	        <th md-column>Ações</th>
	      </tr>
	      </thead>
	    <tbody md-body>
	      <tr md-row md-select="user" md-select-id="name" md-auto-select 
	      	ng-repeat="user in users | filter: {name: campoBusca} track by user.id">
	        <td md-cell>{{user.id}}</td>
	        <td md-cell>{{user.name}}</td>
	        <td md-cell>{{user.dateOfBirth}}</td>
	        <td md-cell>{{user.gender}}</td>
	        <td md-cell>
        	 <md-menu>
	 	 <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
	 	 	
	 		 <md-icon aria-label="User Menu" class="material-icons md-48">view_headline</md-icon>
	 	 </md-button>	        
	  
	      <md-menu-content>

	        <md-menu-item>
	         	 <md-button ng-href="#!/detailUser/{{user.id}}">
	         	 <md-icon aria-label="Detail" class="material-icons">forward</md-icon>
			     	Detalhes
	      		 </md-button>
	        </md-menu-item>

	        <md-menu-item>
	        	<md-button ng-href="#!/editUser/{{user.id}}">
	        	<md-icon aria-label="Edit" class="material-icons">edit</md-icon>   
	       			Editar
	       		</md-button>          
	        </md-menu-item>

	        <md-menu-item>
	        	<md-button ng-href="#!/removeUser/{{user.id}}">
	        	<md-icon aria-label="Remove" class="material-icons">clear</md-icon>   
	       			Remover
	       		</md-button>          
	        </md-menu-item>
	       
	      </md-menu-content>

		</md-menu>  
			</td>
	      </tr>
	    </tbody>
	    <tfoot md-foot>
		  <tr md-row>
		    <td md-cell></td>
		    <td md-cell><strong>Total: </strong>{{users.length}}</td>
		    <td md-cell colspan="6"></td>
		  </tr>
	</tfoot>
	  </table>
	</md-table-container>

</md-card-content>

</md-card>